Youtube transcribe/YT transcribe.json
{
  "name": "YT transcribe",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -512,
        160
      ],
      "id": "96aec525-dd37-46fe-8cc2-4f097314f363",
      "name": "Telegram Trigger",
      "webhookId": "a2f779bf-2e7a-4121-bd9f-fc1afa00df02",
      "credentials": {
        "telegramApi": {
          "id": "RjxOYO2IYkrkGx9o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-mini:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -576,
        -32
      ],
      "id": "ef07a0b0-1ac3-45c2-8661-7235b454304c",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ko1scYPg6D1qjsUo",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f414467-64f5-4b87-b4dc-68f26e10d34b",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        160
      ],
      "id": "9ea11e85-ace7-43a5-abb2-be33668d7726",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        160
      ],
      "id": "40177bfe-b2ec-4df0-b5c1-a31dfd45f627",
      "name": "Send a text message",
      "webhookId": "26158572-b7fb-4e42-9628-a40839c45189",
      "credentials": {
        "telegramApi": {
          "id": "or6knJG7ipdEOh7j",
          "name": "TG_i_test_log_bot"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "text = _items[0][\"json\"][\"output\"] # если поле называется иначе — поменяй\nMAX_LENGTH = 4000  # безопасный лимит\n\nchunks = []\n\nfor i in range(0, len(text), MAX_LENGTH):\n    chunks.append({\n        \"json\": {\n            \"text\": text[i:i + MAX_LENGTH]\n        }\n    })\n\nreturn chunks\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        160
      ],
      "id": "04a0da7a-4ebc-49e6-a852-99b60f4b0bbe",
      "name": "long text to array",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "getTranscript",
        "videoUrl": "={{ $json.text }}",
        "text": true
      },
      "type": "n8n-nodes-supadata.supadata",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "c67a1fc9-8b88-4bdf-93c5-db0f936f1269",
      "name": "Get transcript",
      "credentials": {
        "supadataApi": {
          "id": "BYnoD9MVgPkpSw2B",
          "name": "Supadata account"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "произошла ошибка получения транскрибации"
    },
    {
      "parameters": {
        "content": "## Отправка в телеграмм\n\nс очисткой текста от спец символов и разбиением длинного текста на несколько сообщений",
        "height": 304,
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        912,
        48
      ],
      "typeVersion": 1,
      "id": "69820b19-fe97-4394-bb63-845e02ad2531",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "text = _items[0][\"json\"][\"output\"]\n\n# Список символов для удаления\nchars_to_remove = ['*', '_', '`', '~', '[', ']', '(', ')']\n\nfor char in chars_to_remove:\n    text = text.replace(char, '')\n\nresult = {       \"output\": text\n        }\n         \n\nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        160
      ],
      "id": "c409e4f8-5f78-4443-8126-0cd66a1c2796",
      "name": "Clear text"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get transcript').item.json.content }}",
        "options": {
          "systemMessage": "Ты — экспертный ассистент по анализу и структурированию длинных материалов (подкастов, видео, интервью, статей).\n\nВХОДНЫЕ ДАННЫЕ:\nТекстовая транскрибация материала, которая может содержать таймкоды.\n\nТВОЯ ЗАДАЧА:\nПроанализировать материал и создать структурированный текст, состоящий из следующих блоков:\n\nБЛОК 1 — ОСНОВНАЯ ВЫЖИМКА\nСформулируй краткое содержание материала. Включи:\n- Главную тему и ключевую мысль\n- Основные тезисы и идеи\n- Важные аргументы и выводы\n\nБЛОК 2 — КОНКРЕТИКА (если присутствует в материале)\nВыдели отдельным абзацем:\n- Конкретные шаги, инструкции, алгоритмы действий\n- Цифры, статистику, данные исследований\n- Факты, даты, имена\n\nБЛОК 3 — РЕКОМЕНДАЦИИ (если присутствуют в материале)\nВыдели отдельным абзацем:\n- Практические советы и рекомендации\n- Что автор предлагает сделать или применить\n- К каким выводам призывает\n\nТРЕБОВАНИЯ К ОФОРМЛЕНИЮ:\n1. Весь ответ ОБЯЗАТЕЛЬНО на русском языке (даже если исходный материал на другом языке)\n2. Используй ТОЛЬКО простой текст без форматирования Markdown\n3. Не используй символы *, #, -, ** и другие элементы разметки\n4. Разделяй блоки пустой строкой\n5. Начинай каждый блок с его названия заглавными буквами\n\nЕсли какой-то из блоков 2 или 3 отсутствует в материале, пропусти его."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        -176
      ],
      "id": "21be9e09-fc95-412f-a921-04ddc7744f46",
      "name": "AI Agent Promt from Claude"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Get transcript').item.json.content }}",
        "options": {
          "systemMessage": "Ты — экспертный аналитический ассистент по работе с длинными материалами: подкастами, видео, интервью, лекциями и статьями.\n\nКРИТИЧЕСКИ ВАЖНО: Весь твой ответ должен быть ИСКЛЮЧИТЕЛЬНО на русском языке. Это абсолютное требование, которое нельзя нарушать ни при каких обстоятельствах.\n\nВХОДНЫЕ ДАННЫЕ:\nНа вход ты получаешь текстовую транскрибацию материала. Транскрибация может быть:\n- длинной и несжатой\n- с ошибками устной речи\n- с повторами\n- с таймкодами (их нужно игнорировать, если не указано иное)\n- на любом языке (английском, русском или другом)\n\nАЛГОРИТМ РАБОТЫ:\n\nШаг 1: Внимательно проанализируй весь входной текст, выдели ключевые идеи, смыслы и выводы.\n\nШаг 2: Сформируй основную выжимку:\n- кратко, но по существу\n- передай общий смысл материала\n- исключи повторы, воду и второстепенные детали\n\nШаг 3: Если в тексте упоминаются конкретные данные, обязательно отрази их:\n- конкретные шаги и инструкции\n- числовые данные\n- метрики, сроки, проценты, суммы\n\nШаг 4: Отдельным логическим блоком выдели рекомендации, советы или практические выводы, которые даёт автор текста (явно или неявно).\n\nШаг 5 (ОБЯЗАТЕЛЬНЫЙ): Перед отправкой ответа проверь каждое слово — весь текст должен быть на русском языке. Если обнаружишь хотя бы одно английское слово или фразу — немедленно переведи на русский.\n\nТРЕБОВАНИЯ К РЕЗУЛЬТАТУ:\n1. ЯЗЫК: Ответ ТОЛЬКО на русском языке. Даже если исходный материал полностью на английском — твой ответ должен быть полностью на русском.\n2. Используй простой, понятный текст\n3. Не применяй Markdown, списки с маркерами, нумерацию или специальное форматирование\n4. Допускается логическое разделение текста на абзацы\n5. Пиши нейтральным, аналитическим тоном, без добавления собственных мнений\n\nФИНАЛЬНАЯ ПРОВЕРКА ПЕРЕД ОТВЕТОМ:\nЗадай себе вопрос: \"Все ли слова в моём ответе на русском языке?\"\nЕсли ответ \"Нет\" — переведи весь текст на русский.\nТолько после этого отправляй ответ.\n\nРезультат должен быть таким, чтобы человек мог быстро понять суть материала, не читая или не слушая оригинал."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        192,
        80
      ],
      "id": "48953dc6-adaf-4b67-98b9-9e1e48b5fa24",
      "name": "AI Agent Promt from ChatGPT",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "google/gemma-3-12b-it:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        208,
        288
      ],
      "id": "f297ae20-2afe-4ddd-82ce-5fceb7a34bc1",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ko1scYPg6D1qjsUo",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d7522294-8102-4955-aa85-e2122f37ed56",
              "leftValue": "={{ $json.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        160
      ],
      "id": "d5b84b65-0495-449e-bdbd-6f4975445992",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332c3f8b-6b43-4209-9299-de9c9ad50837",
              "name": "output",
              "value": "=Ошибка с AI обработкой:  {{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        192
      ],
      "id": "c0ea09fd-472c-4ab3-977f-6b14b38d581d",
      "name": "Error Text from AI"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d69a237a-68e8-4498-b3d2-cc3e3f7c87f9",
              "name": "output",
              "value": "=Ошибка транскрибации: {{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        464
      ],
      "id": "23d73496-b94d-4439-b61e-37241a77b305",
      "name": "Error Text from Transcribe"
    },
    {
      "parameters": {
        "content": "## TODO\n\n- доступ к боту только по ограниченному списку\n- добавление средств администрирования пользователей бота (добавление, удаление пользователей)",
        "height": 336,
        "width": 512
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        368
      ],
      "typeVersion": 1,
      "id": "e2cf3e7f-fe4f-4a13-924e-edfdfdb5c758",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332c3f8b-6b43-4209-9299-de9c9ad50837",
              "name": "output",
              "value": "=Привет! Это бот получения смыслов из ютуб видео. \nОтправь мне ссылку на ютуб видео и я тебе расскажу о чём оно.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -48,
        -64
      ],
      "id": "0aa522a3-b7c9-46c1-a0ef-fa794d7792eb",
      "name": "Text Start Hello"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Promt from Claude",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "long text to array": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get transcript": {
      "main": [
        [
          {
            "node": "AI Agent Promt from ChatGPT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Text from Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear text": {
      "main": [
        [
          {
            "node": "long text to array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Promt from Claude": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Promt from ChatGPT",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Promt from ChatGPT": {
      "main": [
        [
          {
            "node": "Clear text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Text from AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Text Start Hello",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Text from AI": {
      "main": [
        [
          {
            "node": "Clear text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Text from Transcribe": {
      "main": [
        [
          {
            "node": "Clear text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Start Hello": {
      "main": [
        [
          {
            "node": "Clear text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "287eb9e7-f024-47b7-9e9f-3e294c7d657a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7252d6dc8450686c4b882d05bad3dbb98a6600b851ae7cd1236fed522472feb6"
  },
  "id": "uYT-cReP2-h5XP7Nbb4u7",
  "tags": []
}