TestAssistant/TestAssinsant.json
{
  "name": "TestAssinsant",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "4313d660-7521-47a5-8d64-cd7e92a743dc",
      "name": "Telegram Trigger",
      "webhookId": "a2f779bf-2e7a-4121-bd9f-fc1afa00df02",
      "credentials": {
        "telegramApi": {
          "id": "RjxOYO2IYkrkGx9o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "f761e9bc-4b93-4506-8a33-c4978365faf1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f8965136-f01e-4044-af04-8078c23488f4",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "2835f8c1-8a7c-478c-bb09-3ecf36d7924f",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        -160
      ],
      "id": "03885240-1577-48eb-9ef1-e84e591d96a1",
      "name": "Get a file",
      "webhookId": "72fbc645-5b95-40a5-81b1-a2ba08c3ac25",
      "credentials": {
        "telegramApi": {
          "id": "RjxOYO2IYkrkGx9o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        592,
        -160
      ],
      "id": "4cb1fa77-1a50-4579-83b6-1333038c3eb9",
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        832,
        -96
      ],
      "id": "6c7bfa2f-362d-4906-823f-87d5620833c9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "arcee-ai/trinity-mini:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        800,
        192
      ],
      "id": "9c5766ba-a197-46bf-82a0-5c7910611dbb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ko1scYPg6D1qjsUo",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f414467-64f5-4b87-b4dc-68f26e10d34b",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        144
      ],
      "id": "855999fb-a52f-4e30-8b40-cd171bee7808",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1392,
        -96
      ],
      "id": "af105c99-d7fe-4bae-b59b-ca24f139bde8",
      "name": "Send a text message",
      "webhookId": "26158572-b7fb-4e42-9628-a40839c45189",
      "credentials": {
        "telegramApi": {
          "id": "RjxOYO2IYkrkGx9o",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "text = _items[0][\"json\"][\"output\"] # если поле называется иначе — поменяй\nMAX_LENGTH = 4000  # безопасный лимит\n\nchunks = []\n\nfor i in range(0, len(text), MAX_LENGTH):\n    chunks.append({\n        \"json\": {\n            \"text\": text[i:i + MAX_LENGTH]\n        }\n    })\n\nreturn chunks\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        -144
      ],
      "id": "16e12c87-20b3-4d39-9e0e-c922a4ae5fd3",
      "name": "long text to array",
      "alwaysOutputData": false
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "long text to array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "long text to array": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b9de5fac-1897-4a76-b964-1467431498c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7252d6dc8450686c4b882d05bad3dbb98a6600b851ae7cd1236fed522472feb6"
  },
  "id": "74rebxyr4FKV9H9E",
  "tags": []
}